<style>
  <%= File.read(File.join(view_path, 'assets', 'styles.css')) %>
</style>
<header class="row">
  <div class="col-md-5">
    <h3><%= t('active_locks') %></h3>
  </div>
</header>
<div class="container">
  <div class="row">
    <%= erb File.read(File.join(view_path, '_home_nav.erb')) %>
    <div class="col-md-9">
      <% if @locks_available %>
        <% if @locks.length > 0 %>
          <table class="table table-striped table-bordered table-white table-sidetiq">
            <thead>
              <th style="width: 20%"><%= t('key') %></th>
              <th style="width: 30%"><%= t('owner_node') %></th>
              <th style="width: 10%"><%= t('timetamp') %></th>
              <th style="width: 10%"><%= t('ttl') %></th>
              <th style="width: 10%"><%= t('actions') %></th>
            </thead>
            <% @locks.each do |meta| %>
            <% pttl = meta.pttl %>
            <tr>
              <td><%= meta.key %></td>
              <td><%= meta.owner %></td>
              <td><%= meta.timestamp.to_i %></td>
              <td>
                <%= pttl / 1000 %> s
              </td>
              <td>
                <form action="<%= "#{root_path}sidetiq/#{meta.key}/unlock" %>" method="post">
                  <%= csrf_tag %>
                  <input class="btn btn-danger btn-small" type="submit" name="trigger" value="<%= t('unlock') %>" data-confirm="<%= t('are_you_sure_remove_lock') %>" />
                </form>
              </td>
            </tr>
            <% end %>
          </table>
        <% else %>
        <div class="alert alert-success"><%= t('no_locks_set') %></div>
        <% end %>
      <% else %>
        <div class="alert alert-danger">KEYS command is disabled in your redis instance, lock information is not available.</div>
      <% end %>
    </div>
  </div>
</div>
